
html:focus-within{
    scroll-behavior: smooth;
}
.main-header {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #e1e3f2;
    
}
body {
    line-height: 2;
    text-align: center;
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #0c212c;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
.header-two {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #d5d8eb;
    font-weight: normal;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #dbddee;
}
p{
    color: #e1e3f2;
    margin: 0 0 2em 0;
}
.prj-p{
    color: #e6e8f4;
}
.top-container {
    padding-top: 100px;
    color: #e6e8f4;
    position: relative;
    height: 100dvh;
    
    
 }
.middle-container {
    margin-inline: auto;
    max-width: 100%;
    padding-inline: 2rem;
    
}
.bottom-container {
    
    padding: 50px 0 50px 0;
    
}
.bottom-container a {
    margin: 0 30px;
    text-align: center;
}
.bottom-container p {
    margin-top: 40px;
    text-align: center;
}
.span-t {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    color: #999fc7;
    display: inline-block;
    
}

.top-cloud {
    
    color: #e6e8f4;
    position: absolute;
    left: 10%;
    top: 10%;
}
.bottom-cloud {
    position: absolute;
    right:  5%;
    bottom: 25%;
    z-index: 1;
}
.mountain{
    position: relative;
    bottom: 10%;
    
}
.profile img{
    margin: 2rem auto 0 auto;
}
.profile_p{
    line-height: 2;
    text-align: center;
    width: 60%;
    margin: 2rem auto 5rem auto;
}

.contact-me {
    padding: 10dvh 0 100px 0;
    line-height: 2;
}
.cp {
    margin-bottom: 50px;
}
.btn {
    
    background-color: #54849e;
    border-radius: 8px;
    color: #e6e8f4;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #35647d;
   
    text-decoration: none;
  }


    p.max-content {
        width: max-content;
      }
      
      p.min-content {
        width: min-content;
      }

          @-ms-viewport {
              width: device-width;
          }
      
          body {
              -ms-overflow-style: scrollbar;
          }
      
      
          html {
              box-sizing: border-box;
          }
      
          *, *:before, *:after {
              box-sizing: inherit;
          }
         
          a {
              -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              color: #e6e8f4;
              text-decoration: none;
              
          }
              a:hover {
                  border-bottom-color: transparent;
                  color: #aeb3cf !important;
              }
      
              a.special:not(.button) {
                  text-decoration: none;
                  border-bottom: 0;
                  display: block;
                  font-family: Raleway, Helvetica, sans-serif;
                  font-size: 0.8em;
                  font-weight: 700;
                  letter-spacing: 0.1em;
                  margin: 0 0 2em 0;
                  text-transform: uppercase;
              }
      
                  a.special:not(.button):before {
                      -moz-osx-font-smoothing: grayscale;
                      -webkit-font-smoothing: antialiased;
                      display: inline-block;
                      font-style: normal;
                      font-variant: normal;
                      text-rendering: auto;
                      line-height: 1;
                      text-transform: none !important;
                      font-family: 'Font Awesome 5 Free';
                      font-weight: 900;
                  }
      
                  a.special:not(.button):before {
                      -moz-transition: background-color 0.2s ease-in-out;
                      -webkit-transition: background-color 0.2s ease-in-out;
                      -ms-transition: background-color 0.2s ease-in-out;
                      transition: background-color 0.2s ease-in-out;
                      border-radius: 100%;
                      border: solid 2px rgba(255, 255, 255, 0.125);
                      content: '\f105';
                      display: inline-block;
                      font-size: 1.25em;
                      height: 2em;
                      line-height: 1.75em;
                      margin-right: 0.85em;
                      text-align: center;
                      text-indent: 0.15em;
                      vertical-align: middle;
                      width: 2em;
                  }
      
                  a.special:not(.button):hover:before {
                      background-color: rgba(255, 255, 255, 0.025);
                  }
      
                  a.special:not(.button):active:before {
                      background-color: rgba(255, 255, 255, 0.075);
                  }
      
          strong, b {
              color: #e6e8f4;
              font-weight: 600;
          }
      
          em, i {
              font-style: italic;
          }
          .image {
              border-radius: 5px;
              border: 0;
              display: inline-block;
              position: relative;
          }
      
              .image img {
                  border-radius: 5px;
                  display: block;
              }
      
              .image.left, .image.right {
                  max-width: 40%;
              }
      
                  .image.left img, .image.right img {
                      width: 100%;
                  }
      
              .image.left {
                  float: left;
                  padding: 0 1.5em 1em 0;
                  top: 0.25em;
              }
      
              .image.right {
                  float: right;
                  padding: 0 0 1em 1.5em;
                  top: 0.25em;
              }
      
              .image.fit {
                  display: block;
                  margin: 0 0 2em 0;
                  width: 100%;
              }
      
                  .image.fit img {
                      width: 100%;
                  }
      
              .image.main {
                  display: block;
                  margin: 0 0 3em 0;
                  width: 100%;
              }
      
                  .image.main img {
                      width: 100%;
                  }
 
          .features {
              display: -moz-flex;
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              -moz-flex-wrap: wrap;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              margin: 0 0 2rem 0;
          }
      
              .features article {
                  padding: 1.75rem 1.75rem 0.1rem 1.75rem ;
                  background-color: #26536b;
                  border-radius: 5px;
                  margin: 1.5rem 3rem 1.5rem 0;
                  width: calc(50% - 1.5rem);
              }
      
                  .features article:nth-child(2n) {
                      margin-right: 0;
                  }
      
                  .features article .image {
                      border-radius: 5px 5px 0 0;
                      display: block;
                      margin-bottom: 1.75rem;
                      margin-left: -1.75rem;
                      margin-top: -1.75rem;
                      position: relative;
                      width: calc(100% + 3.5rem);
                  }
      
                      .features article .image img {
                          border-radius: 5px 5px 0 0;
                          width: 100%;
                      }
      
              @media screen and (max-width: 980px) {
      
                  .features article {
                      margin: 1em 2em 1em 0;
                      width: calc(50% - 1em);
                  }
      
              }
      
              @media screen and (max-width: 736px) {
      
                  .features article {
                      padding: 1.5em 1.5em 0.1em 1.5em ;
                      margin: 0.875em 1.75em 0.875em 0;
                      width: calc(50% - 0.875em - 1px);
                  }
      
                      .features article .image {
                          margin-bottom: 1.5em;
                          margin-left: -1.5em;
                          margin-top: -1.5em;
                          width: calc(100% + 3em);
                      }
              }
      
              @media screen and (max-width: 480px) {
      
                  .features {
                      display: block;
                  }
      
                      .features article {
                          width: 100%;
                          margin: 0 0 2em 0 !important;
                      }
      
              }
      
      /* Wrapper */
  
          .wrapper {
              margin: 6.5em 0;
              position: relative;
              
              
          }
      
              .wrapper:before, .wrapper:after {
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  content: '';
                  display: block;
                  height: 6.5em;
                  position: absolute;
                  width: 100%;
                  
              }
      
              .wrapper:before {
                  left: 0;
                  top: -6.5em;
              }
      
              .wrapper:after {
                  -moz-transform: scaleY(-1);
                  -webkit-transform: scaleY(-1);
                  -ms-transform: scaleY(-1);
                  transform: scaleY(-1);
                  bottom: -6.5em;
                  left: 0;
              }
      
              .wrapper.alt:before {
                  -moz-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  -ms-transform: scaleX(-1);
                  transform: scaleX(-1);
              }
      
              .wrapper.alt:after {
                  -moz-transform: scaleY(-1) scaleX(-1);
                  -webkit-transform: scaleY(-1) scaleX(-1);
                  -ms-transform: scaleY(-1) scaleX(-1);
                  transform: scaleY(-1) scaleX(-1);
              }
      
              .wrapper .inner {
                  padding: 3em 0 1em 0 ;
                  margin: 0 auto;
                  width: 55em;
              }
      
             @media screen and (max-width: 980px) {
      
                  .wrapper {
                      margin: 4.75em 0;
                  }
      
                      .wrapper:before, .wrapper:after {
                          height: 4.75em;
                      }
      
                      .wrapper:before {
                          top: -4.75em;
                      }
      
                      .wrapper:after {
                          bottom: -4.75em;
                          left: 0;
                      }
      
                      .wrapper .inner {
                          padding: 3em 3em 1em 3em ;
                          width: 100%;
                      }
      
                      .wrapper.spotlight .image {
                          margin: 0 2em 2em 0;
                          width: 32em;
                      }
      
                      .wrapper.spotlight:nth-child(2n - 1) .image {
                          margin: 0 0 2em 2em;
                      }
      
              }
      
              @media screen and (max-width: 736px) {
      
                  .wrapper {
                      margin: 2.5em 0;
                  }
      
                      .wrapper:before, .wrapper:after {
                          height: 2.5em;
                      }
      
                      .wrapper:before {
                          top: -2.5em;
                      }
      
                      .wrapper:after {
                          bottom: -2.5em;
                          left: 0;
                      }
      
                      .wrapper .inner {
                          padding: 2em 2em 0.1em 2em ;
                      }
      
                      .wrapper.spotlight .inner {
                          -moz-align-items: -moz-flex-start;
                          -webkit-align-items: -webkit-flex-start;
                          -ms-align-items: -ms-flex-start;
                          align-items: flex-start;
                      }
      
                      .wrapper.spotlight .image {
                          width: 19em;
                          margin: 0 1.75em 2em 0;
                      }
      
                      .wrapper.spotlight:nth-child(2n - 1) .image {
                          margin: 0 0 2em 1.75em;
                      }
      
              }
      
              @media screen and (max-width: 480px) {
      
                  .wrapper.spotlight .inner {
                      display: block;
                  }
      
                  .wrapper.spotlight .image {
                      margin: 0 0 1em 0 !important;
                      max-width: 85%;
                      width: 12em;
                  }
      
              }
      
              @media screen and (max-width: 360px) {
      
                  .wrapper .inner {
                      padding: 2em 1.5em 0.1em 1.5em ;
                  }
      
              }
              .to-top{
                color:#fff9f9;
                padding-top:1em;
                display:inline-block;/* or block */
                position:fixed;
                border-color:rgb(33, 32, 32);
                text-decoration:none;
                transition:all .3s ease-out;
                right: 10px;
                bottom: 10px;
                z-index: 2;
                font-size: 1.2rem;
            }
            .to-top:before{
                content:'▲';
                font-size: 1.2rem;
                position:absolute;
                top:0;
                left:50%;
                margin-left:-.7em;
                border:solid .13em rgb(47, 44, 44);
                border-radius:10em;
                width:1.4rem;
                height:1.4rem;
                line-height:1.3rem;
                border-color:inherit;
                transition:transform .5s ease-in;
            }
            .to-top:hover{
                color:rgb(95, 80, 80);
                border-color:rgb(87, 76, 76);
            }
            .to-top:hover:before{
                transform: rotate(360deg);
            }
            
/* Media Query for Phone View */
@media (max-width: 680px) {
  .top-container {
    padding-top: 80px;
  }

  .main-header {
    font-size: 3.5rem;
  }

  .profile_p {
    width: 90%;
  }
.bottom-cloud {
    right:2%;
    bottom: 45%;
    max-width: 100%;
    heigth: auto;
  }
  .top-cloud {
    left: 5%;
    bottom: 5%;
    max-width: 100%;
    heigth: auto;
  }

  .mountain {
    position: relative;
    bottom: 5%;
    max-width: 100%;
    heigth: auto;
  }
    .profile img {
  max-width: 100%;
  height: auto;
}
}   
