
html:focus-within{
    scroll-behavior: smooth;
}
.main-header {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #424874;
    
}
body {
    line-height: 2;
    text-align: center;
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
}
.header-two {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #e07aee;
    font-weight: normal;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #DCD6F7;
}
a {
    color: #424874;
}


p{
    color: #ffffff;
    margin: 0 0 2em 0;
}
.prj-p{
    color: #ffffff;
}
.top-container {
    padding-top: 100px;
    background-color: #D4ADFC;
    position: relative;
    height: 100dvh;
    
    
 }
.middle-container {
    margin-inline: auto;
    max-width: 100%;
    background-color: #5C469C;
    padding-inline: 2rem;
    
}
.bottom-container {
    
    background-color: #0C134F;
    padding: 50px 0 50px 0;
    
}
.bottom-container a {
    margin: 0 30px;
    text-align: center;
}
.bottom-container p {
    margin-top: 40px;
    text-align: center;
}
.span-t {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    color: deeppink;
    display: inline-block;
}

.top-cloud {
    
    color: #DCD6F7;
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skills {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.skill {
    aspect-ratio: 1 / 1.5;
  }
  
  .stacked{
    display: grid;
  }
  .stacked > *{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
.imgbox{
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
}

.skill-content{
    background-color: #424874;
    align-self: end;
    margin: 8rem 0.5rem 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 0.1);
}
.skill_title{
    margin: .6rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
} 
.skill_description{
    font-size: 1rem;
    color: #f3f0fd;
}
.profile img{
    margin: 2rem auto 0 auto;
}


.profile_p{
    line-height: 2;
    text-align: center;
    width: 60%;
    margin: 2rem auto 5rem auto;
}

hr {
    border-style: none;
     border-top-style: dotted;
     color: gray;
     border-width: 5px;  
     width: 5%;
     
}

.contact-me {
    padding: 10dvh 0 100px 0;
    line-height: 2;
}
.cp {
    margin-bottom: 50px;
}
.btn {
    
    background-color: #ca58c8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #c976b2;
   
    text-decoration: none;
  }

  @media (min-width: 60em) {
    .imgbox {
      aspect-ratio: 1 / 1;
    }
    .skill.featured {
        grid-row: span 2;
        grid-column: span 2;
      }
      .skill.featured .imgbox {
        aspect-ratio: 1 / 1.25;
      }
    }

    p.max-content {
        width: max-content;
      }
      
      p.min-content {
        width: min-content;
      }

      @import url(fontawesome-all.min.css);
      @import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

    
      
      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
          display: block;}
      

      ol, ul {
          list-style: none;
      }
      
      blockquote, q {
          quotes: none;
      }
      
          blockquote:before, blockquote:after, q:before, q:after {
              content: '';
              content: none;
          }
      
      table {
          border-collapse: collapse;
          border-spacing: 0;
      }
      
      body {
          -webkit-text-size-adjust: none;
      }
      
      mark {
          background-color: transparent;
          color: inherit;
      }
      
      input::-moz-focus-inner {
          border: 0;
          padding: 0;
      }
      
      input, select, textarea {
          -moz-appearance: none;
          -webkit-appearance: none;
          -ms-appearance: none;
          appearance: none;
      }
      
      /* Basic */
      
          @-ms-viewport {
              width: device-width;
          }
      
          body {
              -ms-overflow-style: scrollbar;
          }
      
      
          html {
              box-sizing: border-box;
          }
      
          *, *:before, *:after {
              box-sizing: inherit;
          }
      
         
      
      /* Type */
      
         
      
             
          a {
              -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
              border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
              color: #ffffff;
              text-decoration: none;
          }
      
              a:hover {
                  border-bottom-color: transparent;
                  color: #ffffff !important;
              }
      
              a.special:not(.button) {
                  text-decoration: none;
                  border-bottom: 0;
                  display: block;
                  font-family: Raleway, Helvetica, sans-serif;
                  font-size: 0.8em;
                  font-weight: 700;
                  letter-spacing: 0.1em;
                  margin: 0 0 2em 0;
                  text-transform: uppercase;
              }
      
                  a.special:not(.button):before {
                      -moz-osx-font-smoothing: grayscale;
                      -webkit-font-smoothing: antialiased;
                      display: inline-block;
                      font-style: normal;
                      font-variant: normal;
                      text-rendering: auto;
                      line-height: 1;
                      text-transform: none !important;
                      font-family: 'Font Awesome 5 Free';
                      font-weight: 900;
                  }
      
                  a.special:not(.button):before {
                      -moz-transition: background-color 0.2s ease-in-out;
                      -webkit-transition: background-color 0.2s ease-in-out;
                      -ms-transition: background-color 0.2s ease-in-out;
                      transition: background-color 0.2s ease-in-out;
                      border-radius: 100%;
                      border: solid 2px rgba(255, 255, 255, 0.125);
                      content: '\f105';
                      display: inline-block;
                      font-size: 1.25em;
                      height: 2em;
                      line-height: 1.75em;
                      margin-right: 0.85em;
                      text-align: center;
                      text-indent: 0.15em;
                      vertical-align: middle;
                      width: 2em;
                  }
      
                  a.special:not(.button):hover:before {
                      background-color: rgba(255, 255, 255, 0.025);
                  }
      
                  a.special:not(.button):active:before {
                      background-color: rgba(255, 255, 255, 0.075);
                  }
      
          strong, b {
              color: #ffffff;
              font-weight: 600;
          }
      
          em, i {
              font-style: italic;
          }
      
         
    
      
              h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
                  color: inherit;
                  text-decoration: none;
                  border-bottom: 0;
              }
      
              h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
                  font-weight: 200;
              }
      
              h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
                  padding-bottom: 1em;
                  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
              }
      
      /* Image */
      
          .image {
              border-radius: 5px;
              border: 0;
              display: inline-block;
              position: relative;
          }
      
              .image img {
                  border-radius: 5px;
                  display: block;
              }
      
              .image.left, .image.right {
                  max-width: 40%;
              }
      
                  .image.left img, .image.right img {
                      width: 100%;
                  }
      
              .image.left {
                  float: left;
                  padding: 0 1.5em 1em 0;
                  top: 0.25em;
              }
      
              .image.right {
                  float: right;
                  padding: 0 0 1em 1.5em;
                  top: 0.25em;
              }
      
              .image.fit {
                  display: block;
                  margin: 0 0 2em 0;
                  width: 100%;
              }
      
                  .image.fit img {
                      width: 100%;
                  }
      
              .image.main {
                  display: block;
                  margin: 0 0 3em 0;
                  width: 100%;
              }
      
                  .image.main img {
                      width: 100%;
                  }
      
    
      /* Features */
      
          .features {
              display: -moz-flex;
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              -moz-flex-wrap: wrap;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              margin: 0 0 2rem 0;
          }
      
              .features article {
                  padding: 1.75rem 1.75rem 0.1rem 1.75rem ;
                  background-color: #716ea0;
                  border-radius: 5px;
                  margin: 1.5rem 3rem 1.5rem 0;
                  width: calc(50% - 1.5rem);
              }
      
                  .features article:nth-child(2n) {
                      margin-right: 0;
                  }
      
                  .features article .image {
                      border-radius: 5px 5px 0 0;
                      display: block;
                      margin-bottom: 1.75rem;
                      margin-left: -1.75rem;
                      margin-top: -1.75rem;
                      position: relative;
                      width: calc(100% + 3.5rem);
                  }
      
                      .features article .image img {
                          border-radius: 5px 5px 0 0;
                          width: 100%;
                      }
      
              @media screen and (max-width: 980px) {
      
                  .features article {
                      margin: 1em 2em 1em 0;
                      width: calc(50% - 1em);
                  }
      
              }
      
              @media screen and (max-width: 736px) {
      
                  .features article {
                      padding: 1.5em 1.5em 0.1em 1.5em ;
                      margin: 0.875em 1.75em 0.875em 0;
                      width: calc(50% - 0.875em - 1px);
                  }
      
                      .features article .image {
                          margin-bottom: 1.5em;
                          margin-left: -1.5em;
                          margin-top: -1.5em;
                          width: calc(100% + 3em);
                      }
              }
      
              @media screen and (max-width: 480px) {
      
                  .features {
                      display: block;
                  }
      
                      .features article {
                          width: 100%;
                          margin: 0 0 2em 0 !important;
                      }
      
              }
      
      /* Wrapper */
  
          .wrapper {
            background-image: linear-gradient(to right, #1D267D , #1D267D);
              margin: 6.5em 0;
              position: relative;
          }
      
              .wrapper:before, .wrapper:after {
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  content: '';
                  display: block;
                  height: 6.5em;
                  position: absolute;
                  width: 100%;
                  
              }
      
              .wrapper:before {
                  left: 0;
                  top: -6.5em;
              }
      
              .wrapper:after {
                  -moz-transform: scaleY(-1);
                  -webkit-transform: scaleY(-1);
                  -ms-transform: scaleY(-1);
                  transform: scaleY(-1);
                  bottom: -6.5em;
                  left: 0;
              }
      
              .wrapper.alt:before {
                  -moz-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  -ms-transform: scaleX(-1);
                  transform: scaleX(-1);
              }
      
              .wrapper.alt:after {
                  -moz-transform: scaleY(-1) scaleX(-1);
                  -webkit-transform: scaleY(-1) scaleX(-1);
                  -ms-transform: scaleY(-1) scaleX(-1);
                  transform: scaleY(-1) scaleX(-1);
              }
      
              .wrapper .inner {
                  padding: 3em 0 1em 0 ;
                  margin: 0 auto;
                  width: 55em;
              }
      
             @media screen and (max-width: 980px) {
      
                  .wrapper {
                      margin: 4.75em 0;
                  }
      
                      .wrapper:before, .wrapper:after {
                          height: 4.75em;
                      }
      
                      .wrapper:before {
                          top: -4.75em;
                      }
      
                      .wrapper:after {
                          bottom: -4.75em;
                          left: 0;
                      }
      
                      .wrapper .inner {
                          padding: 3em 3em 1em 3em ;
                          width: 100%;
                      }
      
                      .wrapper.spotlight .image {
                          margin: 0 2em 2em 0;
                          width: 32em;
                      }
      
                      .wrapper.spotlight:nth-child(2n - 1) .image {
                          margin: 0 0 2em 2em;
                      }
      
              }
      
              @media screen and (max-width: 736px) {
      
                  .wrapper {
                      margin: 2.5em 0;
                  }
      
                      .wrapper:before, .wrapper:after {
                          height: 2.5em;
                      }
      
                      .wrapper:before {
                          top: -2.5em;
                      }
      
                      .wrapper:after {
                          bottom: -2.5em;
                          left: 0;
                      }
      
                      .wrapper .inner {
                          padding: 2em 2em 0.1em 2em ;
                      }
      
                      .wrapper.spotlight .inner {
                          -moz-align-items: -moz-flex-start;
                          -webkit-align-items: -webkit-flex-start;
                          -ms-align-items: -ms-flex-start;
                          align-items: flex-start;
                      }
      
                      .wrapper.spotlight .image {
                          width: 19em;
                          margin: 0 1.75em 2em 0;
                      }
      
                      .wrapper.spotlight:nth-child(2n - 1) .image {
                          margin: 0 0 2em 1.75em;
                      }
      
              }
      
              @media screen and (max-width: 480px) {
      
                  .wrapper.spotlight .inner {
                      display: block;
                  }
      
                  .wrapper.spotlight .image {
                      margin: 0 0 1em 0 !important;
                      max-width: 85%;
                      width: 12em;
                  }
      
              }
      
              @media screen and (max-width: 360px) {
      
                  .wrapper .inner {
                      padding: 2em 1.5em 0.1em 1.5em ;
                  }
      
              }
              .to-top{
                color:#fff9f9;
                padding-top:1em;
                display:inline-block;/* or block */
                position:fixed;
                border-color:rgb(33, 32, 32);
                text-decoration:none;
                transition:all .3s ease-out;
                right: 10px;
                bottom: 10px;
                z-index: 1;
                font-size: 1.2rem;
            }
            .to-top:before{
                content:'▲';
                font-size: 1.2rem;
                position:absolute;
                top:0;
                left:50%;
                margin-left:-.7em;
                border:solid .13em rgb(47, 44, 44);
                border-radius:10em;
                width:1.4rem;
                height:1.4rem;
                line-height:1.3rem;
                border-color:inherit;
                transition:transform .5s ease-in;
            }
            .to-top:hover{
                color:rgb(95, 80, 80);
                border-color:rgb(87, 76, 76);
            }
            .to-top:hover:before{
                transform: rotate(360deg);
            }
            
/* Media Query for Phone View */
@media (max-width: 480px) {
  .top-container {
    padding-top: 80px;
  }

  .main-header {
    font-size: 3.5rem;
  }

  .topside {
    font-size: 1.5rem;
  }

  .profile_p {
    width: 90%;
  }

  .bottom-cloud {
    bottom: 200px;
  }

  .mountain {
    display: none;
  }
}

/* CSS to fix the profile image overlap */
.profile img {
  max-width: 100%;
  height: auto;
}
